<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20811097061-tkccdov4i0dhi7acgbkahbonn8vpc54m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20811097061-tkccdov4i0dhi7acgbkahbonn8vpc54m</string>
	<key>API_KEY</key>
	<string>AIzaSyBIr5nnyS1t3h0YwJVeCr40A_88ccT9HG8</string>
	<key>GCM_SENDER_ID</key>
	<string>20811097061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kyotoExpress</string>
	<key>PROJECT_ID</key>
	<string>kyoto-express-71566</string>
	<key>STORAGE_BUCKET</key>
	<string>kyoto-express-71566.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20811097061:ios:ac089913a6838ac72d850c</string>
</dict>
</plist>